.quote {
    text-align: center;
    font-family: 'Cardo', serif;
    color: black;
    padding: 2em;
    width: 75%;
    margin: 0 auto 0 auto;
}

.overlay {
    font-size: 40px;
    font-weight: 300;
}

.overlay span {
    position: relative;
    opacity: 0;
    top: 1em;
    animation: animateOverlay 1s ease-in-out forwards;
}

.overlay span:nth-child(10n) {
    animation-delay: 0s;
}
.overlay span:nth-child(10n+6) {
    animation-delay: 0.1s;
}
.overlay span:nth-child(10n+11) {
    animation-delay: 0.15s;
}
.overlay span:nth-child(10n+14) {
    animation-delay: 0.2s;
}
.overlay span:nth-child(10n+9) {
    animation-delay: 0.25s;
}
.overlay span:nth-child(10n+3) {
    animation-delay: 0.3s;
}
.overlay span:nth-child(10n+13) {
    animation-delay: 0.35s;
}
.overlay span:nth-child(10n+7) {
    animation-delay: 0.4s;
}
.overlay span:nth-child(10n+1) {
    animation-delay: 0.45s;
}
.overlay span:nth-child(10n+5) {
    animation-delay: 0.5s;
}
.overlay span:nth-child(10n+12) {
    animation-delay: 0.6s;
}
.overlay span:nth-child(10n+10) {
    animation-delay: 0.75s;
}
.overlay span:nth-child(10n+4) {
    animation-delay: 0.9s;
}
.overlay span:nth-child(10n+8) {
    animation-delay: 1.25s;
}
.overlay span:nth-child(10n+2) {
    animation-delay: 1.5s;
}

.overlay2 {
    font-size: 30px;
    font-weight: 300;
    position: relative;
    opacity: 0;
    top: 1.5em;
    animation: animateOverlay 1.7s ease-in-out forwards;
    animation-delay: 2.5s;
}

@keyframes animateOverlay {
    to {
        opacity: 1;
        top: 0;
    }
}