nav {
    font-family: 'Work Sans';
    font-size: 1.1rem;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 1.5rem 1.5rem;
}

ul {
    list-style: none;
}

li {
    display: inline-block;
    margin-right: 1.5rem;
}

.link {
    text-decoration: none;
    color: black;
}

.link:hover {
    text-decoration: none;
    color: pink;
    font-weight: bold;
    cursor: pointer;
}