nav {
    font-family: 'Work Sans';
    font-size: 1.1rem;
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: black;
    padding: 1.5rem 1.5rem;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline-block;
    margin-right: 1.5rem;
    text-decoration: none;
    color: white;
}